@media (min-width: 993px) {
  .m-header .m-header__bottom {
    padding: 0;
    position: relative;
    z-index: 1;
    background: #262734;
    height: 70px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .m-aside-menu--skin-light {
    background-color: transparent !important;
  }
  .m-aside-menu--skin-light .m-container {
    background: #f9f9f9 !important;
    border-top: 1px solid #f3f3f3;
  }
  .m-aside-menu--skin-dark {
    background-color: transparent !important;
  }
  .m-aside-menu--skin-dark .m-container {
    background: #262734 !important;
  }
  .m-header--fixed.m-header--minimize-on .m-header .m-header__bottom {
    -webkit-transition: all .3s ease .3s;
    -moz-transition: all .3s ease .3s;
    -ms-transition: all .3s ease .3s;
    -o-transition: all .3s ease .3s;
    transition: all .3s ease .3s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .m-header--fixed.m-header--minimize-off .m-header .m-header__bottom {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .m-header .m-header__bottom .m-container {
    padding: 0;
  }
  .m-header__bottom {
    position: relative;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    height: 70px !important;
  }
  .m-header__bottom .m-stack__item--fluid {
    display: none;
  }
  .m-topbar--on .m-header__bottom {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    margin-top: 0;
  }
  /* Modify Base Styles For Header Menu */
  .m-header {
    height: 140px !important;
  }
  .m-header--fixed .m-body {
    padding-top: 140px !important;
  }
  .m-aside-left--fixed.m-header--fixed .m-aside-left,
  .m-aside-left--fixed.m-header--static .m-aside-left {
    top: 140px !important;
  }
}
@media (min-width: 993px) {
  .m-header {
    height: 140px !important;
  }
  .m-header--fixed .m-body {
    padding-top: 140px !important;
  }
  .m-aside-left--fixed.m-header--fixed .m-aside-left,
  .m-aside-left--fixed.m-header--static .m-aside-left {
    top: 140px !important;
  }
}
div.m-menu__submenu {
  padding-top: 10px !important;
}
span.m-menu__arrow.m-menu__arrow--adjust {
  line-height: 0;
  display: inline-block;
  overflow: hidden;
  height: 11px;
  width: 40px;
  position: relative;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  margin-top: -10px;
  color: #fff;
  left: 58px !important;
}
span.m-menu__arrow.m-menu__arrow--adjust:before {
  position: relative;
  top: 100%;
  margin-top: 11px;
  font-size: 40px;
  display: inline-block;
  font-family: Metronic;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 0;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: "";
}
body.m-aside-left--skin-dark .m-header-head {
  background-color: #27293b !important;
}
body.m-aside-left--skin-dark .m-brand {
  width: auto;
}
body.m-aside-left--skin-dark .m-topbar__nav li.m-nav__item a span {
  color: #fff !important;
}
body.m-aside-left--skin-dark .m-topbar__nav li.m-nav__item a i.fa-angle-down {
  color: #fff !important;
}
body.m-aside-left--skin-dark .m-topbar__nav li.m-nav__item.m-topbar__user-profile ul li a span {
  color: #6f727d !important;
}
body.m-aside-left--skin-dark .m-topbar__nav li.m-nav__item.m-topbar__user-profile ul li a span:hover {
  color: #716aca !important;
}
body.m-aside-left--skin-dark .m-topbar__nav li.m-nav__item.m-topbar__user-profile ul li a i.fa-angle-down {
  color: #6f727d !important;
}
body.m-aside-left--skin-dark .m-topbar__nav li.m-nav__item.m-topbar__user-profile ul li a i.fa-angle-down:hover {
  color: #716aca !important;
}
li.m-menu__item.m-menu__item--active i.m-menu__link-icon,
li.m-menu__item.m-menu__item--active i.m-menu__hor-arrow {
  color: #ececec !important;
}
li.m-menu__item.m-menu__item--active span.m-menu__link-text span.title {
  color: #ececec !important;
}
body.m-aside-left--skin-light li.m-menu__item.m-menu__item--active {
  background-color: #ededfd !important;
}
body.m-aside-left--skin-light li.m-menu__item.m-menu__item--active i.m-menu__link-icon,
body.m-aside-left--skin-light li.m-menu__item.m-menu__item--active i.m-menu__hor-arrow {
  color: #716aca !important;
}
body.m-aside-left--skin-light li.m-menu__item.m-menu__item--active span.m-menu__link-text span.title {
  color: #716aca !important;
}
body.m-aside-left--skin-light li.m-menu__item.m-menu__item--active li.m-menu__item--submenu:not(.m-menu__item--active) i.m-menu__link-icon,
body.m-aside-left--skin-light li.m-menu__item.m-menu__item--active li.m-menu__item--submenu:not(.m-menu__item--active) i.m-menu__hor-arrow {
  color: #676c7b !important;
}
body.m-aside-left--skin-light li.m-menu__item.m-menu__item--active li.m-menu__item--submenu:not(.m-menu__item--active) span.m-menu__link-text span.title {
  color: #676c7b !important;
}
ul.m-menu__subnav li.m-menu__item.m-menu__item--submenu i.m-menu__link-icon {
  color: #676c7b !important;
}
ul.m-menu__subnav li.m-menu__item.m-menu__item--submenu span.m-menu__link-text span.title {
  color: #676c7b !important;
}
ul.m-menu__subnav li.m-menu__item.m-menu__item--submenu.m-menu__item--active i.m-menu__link-icon,
ul.m-menu__subnav li.m-menu__item.m-menu__item--submenu.m-menu__item--active i.m-menu__hor-arrow {
  color: #716aca !important;
}
ul.m-menu__subnav li.m-menu__item.m-menu__item--submenu.m-menu__item--active span.m-menu__link-text span.title {
  color: #716aca !important;
}
/* Modify Base Styles For Header Menu */